* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.wrapper {
  width: 1518px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}
.logo {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    top: 8vh;
    transform: translateY(50px);
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -9px);
}

.carousel-container {
  width: 100%;
  margin: auto;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  height: 500px;
  width: 100%;
}


#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;

  cursor: pointer;
}
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.welcomeSL h2 {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "Baloo Bhaina 2", cursive;
  align-items: center;
  font-size: 60px;
  margin-top: 25px;
}

.welcomeSL p {
  width: 60%;
  background-color: white;
  font-family: "Kalam", cursive;
  margin-bottom: 5px;
  font-size: 30px;
  align-items: center;
  display: flex;
  margin: auto;
}

.home-row1 {
  width: 100%;
  background-color: teal;
  float: left;
  margin-top: 30px;
  padding-bottom: 50px;
}

div.text1 p {
  width: 60%;
  float: left;
  font-family: "Kalam", cursive;
  font-size: 25px;
  margin-left: 20px;
}
div.text1 h4 {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 60px;
  margin-left: 20px;
}

div.text1Img {
  width: 575px;
  height: 300px;
  overflow: hidden;
}

div.text1Img img {
  float: left;
  width: 550px;
  height: 300px;
}


.home-row2 {
  float: left;
  padding-bottom: 50px;
  margin-top: 20px;
  width: 100%;
}

div.text2 p {
  width: 60%;
  background-color: white;
  font-family: "Kalam", cursive;
  margin-bottom: 5px;
  font-size: 30px;
  align-items: center;
  display: flex;
  margin: auto;
}
div.text2 h4 {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "Baloo Bhaina 2", cursive;
  align-items: center;
  font-size: 60px;
  margin-top: 25px;
}
.home-row3 {
  width: 100%;
  background-color: teal;
  margin-bottom: 0;
  margin-top: 30px;
  padding-bottom: 50px;
}
div.slideshow {
  float: left;
  margin-bottom: 50px;
}
div.text3 p {
  width: 50%;
  float: left;
  font-family: "Kalam", cursive;
  font-size: 25px;
}
div.text3 h4 {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 60px;
}

div.text3Img {
  width: 550px;
  height: 300px;
  overflow: hidden;
  float: left;
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 50px;
}

div.text3Img img{
  width: 550px;
  height: 300px;
}
.mapdiv {
  width: 25%;
  margin: auto;
}
.mapdiv path {
  fill: #444;
  stroke: #dece0c;
  stroke-width: 2px;
  transition: fill 0.3s;
}

.mapdiv :hover {
  fill: red;
}
